@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/*html {
  box-sizing: border-box;
}*/
*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-weight: 100;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBDA31;
  padding: 3rem;
  min-height: 100vh;
  flex-direction: column;

}

section {
  max-width: 760px;
  background-color: #ffffff;
  padding: 1rem 0;
}
.outer section{
  text-align: center;
  width: 60%;
  flex: 1 1 100%;
}
.sign{
  display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 padding: 0px;
}
.choose1{
  display: flex;
  justify-content: space-around;
  flex: 1 1 100%;
}
.input div{
  text-align: left;
}
.input input{
  margin-top: 6px;
  width: 332px;
  height: 42px;
}
.input{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px;
}
.input div{
  margin-bottom: 20px;
  width: 45%;
}
.image{
  display: flex;
  flex-flow: row wrap;
  height: 80px;
  justify-content: flex-start;
  flex: 1 1 40%;
  margin-left: 40px;
}
.image label{
  margin-bottom: 10px;
}
.image input{
  flex: 1 1 100%;
text-align: left;

}

.signUp input{
  flex: 1 1 45%;
  font-size: 18px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 85%;
  height: 42px;
  display: flex;
  justify-content: center;
}
.bottomRow{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

}
